<article>
    <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
    <h2 class="title mt-5">edit post</h2>
    <hr>
    <form class="edit-post-form">
        <div>
            <label for="blog-title">blog title:</label>
            <input class="input" name="blog-title" type="text" value="{{blog.title}}" />
        </div>
        <div>
            <label for="blog-description">blog content:</label>
            <input class="textarea" name="blog-description" type="text" value="{{blog.blog-description}}" />
        </div>
        <div class="is-pulled-right">
            created by you on {{format_date blog.date_created}}
            |
            <a href="/post/{{blog.id}}">{{blog.comments.length}} {{format_plural "comment" blog.comments.length}}</a>
        </div>
        <button type="submit" class="button is-success">save post</button>
        <button type="button" class="button is-danger delete-post-btn">delete post</button>
    </form>
</article>

{{> comments blog.comments}}

<script src="/js/editBlog.js"></script>
<script src="/js/deleteBlog.js"></script>
<script src="/js/comment.js"></script>